<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sky.myactiviti.dao.UserDao">
	<insert id="add" parameterType="cn.sky.myactiviti.bean.User">
		insert into user(name) value(#{name})
	</insert>
	<select id="getById" parameterType="java.lang.Integer" resultType="cn.sky.myactiviti.bean.User" >
		select * from user where id=#{id}
	</select>
	<select id="getByName" parameterType="java.lang.String" resultType="cn.sky.myactiviti.bean.User" >
		select * from user where name=#{name}
	</select>
	<select id="getAll" resultType="cn.sky.myactiviti.bean.User">
		select * from user
	</select>
</mapper>